body{
    background-color: whitesmoke;
}
div{
color: azure;
    height:60px;
    width: 100%;
    border: 2px solid whitesmoke;
    border-width: 5px;
    background-color: black;

}
#logo{
    font-size: 25px;
    color:#f08804 ;

}
button{
    color: #f08804;
}
a{
    margin-right: 200px;
}
